In [1]:
import pandas as pd
WorldGDP = "Outputs/WorldGDP.csv"
WorldGDPRaw = pd.read_csv(WorldGDP, encoding="ISO-8859-1")



#eliminate nulls
# WorldGDPRaw["nullG"]=pd.isna(WorldGDPRaw['GDP'])
# WorldGDPDF=WorldGDPRaw.loc[WorldGDPRaw["nullG"]==False]

WorldGDPRaw = WorldGDPRaw.dropna(how='any')
WorldGDPRaw

                         country countryCode           GDP          POP
0                    Afghanistan          AF    550.068459   35530081.0
1                        Albania          AL   4537.579056    2873457.0
2                        Algeria          DZ   4055.247211   41318142.0
3                 American Samoa          AS  11394.475297      55641.0
4                        Andorra          AD  39146.548836      76965.0
5                         Angola          AO   4100.289786   29784193.0
8            Antigua and Barbuda          AG  14803.010928     102012.0
9                      Argentina          AR  14398.358771   44271041.0
10                       Armenia          AM   3936.798320    2930450.0
11                         Aruba          AW  25655.102022     105264.0
12                     Australia          AU  53793.537256   24601860.0
13                       Austria          AT  47380.829637    8797566.0
14                    Azerbaijan          AZ   4135.138601    9854033.0
15                       Bahamas          BS  30762.012439     395361.0
16                       Bahrain          BH  23739.157173    1492584.0
17                    Bangladesh          BD   1516.513270  164669751.0
18                      Barbados          BB  16356.980110     285719.0
19                       Belarus          BY   5733.307210    9498264.0
20                       Belgium          BE  43467.445896   11382393.0
21                        Belize          BZ   4971.201636     374681.0
22                         Benin          BJ    827.393679   11175692.0
24                        Bhutan          BT   3130.233543     807610.0
25                       Bolivia          BO   3393.955818   11051600.0
27        Bosnia and Herzegovina          BA   5148.208517    3507017.0
28                      Botswana          BW   7595.611141    2291661.0
30                        Brazil          BR   9812.278531  209288278.0
32             Brunei Darussalam          BN  28290.585196     428697.0
33                      Bulgaria          BG   8228.011570    7075947.0
34                  Burkina Faso          BF    642.037148   19193382.0
35                       Burundi          BI    292.005210   10864245.0
..                           ...         ...           ...          ...
207                        Spain          ES  28208.300405   46593171.0
208                    Sri Lanka          LK   4073.736519   21444000.0
209                        Sudan          SD   2898.549346   40533330.0
210                     Suriname          SR   5317.389539     563402.0
212                    Swaziland          SZ   3242.751065    1367254.0
213                       Sweden          SE  53253.476641   10057698.0
214                  Switzerland          CH  80342.846338    8450851.0
217                   Tajikistan          TJ    801.050871    8921343.0
218  United Republic of Tanzania          TZ    958.445683   57310019.0
219                     Thailand          TH   6595.004125   69037513.0
220                  Timor-Leste          TL   2279.253204    1296311.0
221                         Togo          TG    610.151730    7797694.0
223                        Tonga          TO   3959.079757     108020.0
224          Trinidad and Tobago          TT  16126.370950    1369125.0
225                      Tunisia          TN   3464.416890   11532127.0
226                       Turkey          TR  10546.152563   80745020.0
227                 Turkmenistan          TM   6586.625863    5758075.0
229                       Tuvalu          TV   3549.974741      11192.0
230                       Uganda          UG    606.468453   42862958.0
231                      Ukraine          UA   2639.824326   44831135.0
232         United Arab Emirates          AE  40698.849336    9400145.0
233               United Kingdom          GB  39953.573056   66023290.0
234                United States          US  59927.930286  325147121.0
236                      Uruguay          UY  16245.598368    3456750.0
237                   Uzbekistan          UZ   1533.852038   32387200.0
238                      Vanuatu          VU   3123.614591     276244.0
240                     Viet Nam          VN   2342.244003   95540800.0
245                        Yemen          YE   1106.803906   28250420.0
246                       Zambia          ZM   1513.276316   17094130.0
247                     Zimbabwe          ZW   1333.395663   16529904.0

[192 rows x 4 columns]

In [2]:
Wine = "Resources/winedata.csv"
WineDF = pd.read_csv(Wine, encoding="ISO-8859-1")
WineDF.reset_index(inplace=True)
WineDF = WineDF.dropna(how='any')
WineDF

,index,country,points,price,province,taster_name,taster_twitter_handle,title,variety
0,0,Portugal,87,15.0,Douro,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red
1,1,US,87,14.0,Oregon,Paul Gregutt,@paulgwineÂ,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris
2,2,US,87,65.0,Oregon,Paul Gregutt,@paulgwineÂ,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir
3,3,Spain,87,15.0,Northern Spain,Michael Schachner,@wineschach,Tandem 2011 Ars In Vitro Tempranillo-Merlot (N...,Tempranillo-Merlot
4,4,Italy,87,16.0,Sicily & Sardinia,Kerin OâKeefe,@kerinokeefe,Terre di Giurfo 2013 Belsito Frappato (Vittoria),Frappato
5,5,France,87,24.0,Alsace,Roger Voss,@vossroger,Trimbach 2012 Gewurztraminer (Alsace),GewÃ¼rztraminer
6,6,France,87,27.0,Alsace,Roger Voss,@vossroger,Jean-Baptiste Adam 2012 Les Natures Pinot Gris...,Pinot Gris
7,7,US,87,19.0,California,Virginie Boone,@vboone,Kirkland Signature 2011 Mountain CuvÃ©e Cabern...,Cabernet Sauvignon
8,8,France,87,30.0,Alsace,Roger Voss,@vossroger,Leon Beyer 2012 Gewurztraminer (Alsace),GewÃ¼rztraminer
9,9,US,87,34.0,California,Virginie Boone,@vboone,Louis M. Martini 2012 Cabernet Sauvignon (Alex...,Cabernet Sauvignon
10,10,US,87,12.0,California,Matt Kettmann,@mattkettmann,Mirassou 2012 Chardonnay (Central Coast),Chardonnay
11,11,Argentina,87,30.0,Other,Michael Schachner,@wineschach,Felix Lavaque 2010 Felix Malbec (Cafayate),Malbec
12,12,Argentina,87,13.0,Mendoza Province,Michael Schachner,@wineschach,Gaucho Andino 2011 Winemaker Selection Malbec ...,Malbec
13,13,Spain,87,28.0,Northern Spain,Michael Schachner,@wineschach,Pradorey 2010 Vendimia Seleccionada Finca Vald...,Tempranillo Blend
14,14,US,87,20.0,Oregon,Paul Gregutt,@paulgwineÂ,Acrobat 2013 Pinot Noir (Oregon),Pinot Noir
15,15,Italy,87,19.0,Sicily & Sardinia,Kerin OâKeefe,@kerinokeefe,Baglio di Pianetto 2007 Ficiligno White (Sicilia),White Blend
16,16,US,87,22.0,California,Matt Kettmann,@mattkettmann,Bianchi 2011 Signature Selection Merlot (Paso ...,Merlot
17,17,Italy,87,35.0,Sicily & Sardinia,Kerin OâKeefe,@kerinokeefe,CanicattÃ¬ 2009 Aynat Nero d'Avola (Sicilia),Nero d'Avola
18,18,US,87,69.0,California,Virginie Boone,@vboone,Castello di Amorosa 2011 King Ridge Vineyard P...,Pinot Noir
19,19,Italy,87,13.0,Sicily & Sardinia,Kerin OâKeefe,@kerinokeefe,Stemmari 2013 Dalila White (Terre Siciliane),White Blend
20,20,Italy,87,10.0,Sicily & Sardinia,Kerin OâKeefe,@kerinokeefe,Stemmari 2013 Nero d'Avola (Terre Siciliane),Nero d'Avola
21,21,Italy,87,17.0,Sicily & Sardinia,Kerin OâKeefe,@kerinokeefe,Terre di Giurfo 2011 Mascaria Barricato (Cera...,Red Blend
22,22,US,86,16.0,California,Virginie Boone,@vboone,Clarksburg Wine Company 2010 Chenin Blanc (Cla...,Chenin Blanc
23,23,US,86,50.0,Oregon,Paul Gregutt,@paulgwineÂ,Erath 2010 Hyland Pinot Noir (McMinnville),Pinot Noir
24,24,Chile,86,15.0,Colchagua Valley,Michael Schachner,@wineschach,Estampa 2011 Estate Viognier-Chardonnay (Colch...,Viognier-Chardonnay
25,25,US,86,22.0,Oregon,Paul Gregutt,@paulgwineÂ,Hawkins Cellars 2009 Pinot Noir (Willamette Va...,Pinot Noir
26,26,France,86,9.0,Beaujolais,Roger Voss,@vossroger,Henry Fessy 2012 Nouveau (Beaujolais),Gamay
27,27,Chile,86,9.0,Maule Valley,Michael Schachner,@wineschach,Sundance 2011 Merlot (Maule Valley),Merlot
28,28,France,86,14.0,Beaujolais,Roger Voss,@vossroger,Vignerons de Bel Air 2011 EtÃ© Indien (Brouilly),Gamay
29,29,Chile,85,22.0,Colchagua Valley,Michael Schachner,@wineschach,Casa Silva 2008 Gran Reserva Petit Verdot (Col...,Petit Verdot
...,...,...,...,...,...,...,...,...,...
91470,91470,Austria,91,32.0,Kamptal,Roger Voss,@vossroger,BrÃ¼ndlmayer 2007 Langenloiser Berg-Vogelsang ...,GrÃ¼ner Veltliner
91471,91471,Argentina,91,25.0,Mendoza Province,Michael Schachner,@wineschach,Chakana 2006 Reserve Malbec (LujÃ¡n de Cuyo),Malbec
91472,91472,Austria,91,70.0,Burgenland,Roger Voss,@vossroger,Schloss Halbturn 2004 Grand Vin White (Burgenl...,White Blend
91473,91473,US,90,20.0,California,Virginie Boone,@vboone,Apriori 2013 Chardonnay (Mendocino County),Chardonnay
91474,91474,US,90,35.0,California,Virginie Boone,@vboone,Arrowood 2010 Cabernet Sauvignon (Sonoma County),Cabernet Sauvignon
91475,91475,Italy,90,29.0,Sicily & Sardinia,Kerin OâKeefe,@kerinokeefe,Baglio del Cristo di Campobello 2012 AdÃ¨nzia ...,Red Blend
91476,91476,Israel,90,25.0,Galilee,Mike DeSimone,@worldwineguys,Barkan 2011 Special Reserve Winemakers' Choice...,Shiraz
91477,91477,US,90,20.0,California,Matt Kettmann,@mattkettmann,Birichino 2013 Jurassic Park Vineyard Old Vine...,Chenin Blanc
91478,91478,Italy,90,20.0,Sicily & Sardinia,Kerin OâKeefe,@kerinokeefe,Feudo Principi di Butera 2012 Symposio Red (Te...,Red Blend
91479,91479,Argentina,90,43.0,Other,Michael Schachner,@wineschach,Finca Las Moras 2010 Pedernal Malbec (San Juan),Malbec
91480,91480,US,90,35.0,California,Virginie Boone,@vboone,Flora Springs 2013 Barrel Fermented Chardonnay...,Chardonnay
91481,91481,US,90,35.0,California,Virginie Boone,@vboone,Hendry 2012 Blocks 7 & 22 Zinfandel (Napa Valley),Zinfandel
91482,91482,France,90,30.0,Alsace,Roger Voss,@vossroger,Henri Schoenheitz 2012 Holder Gewurztraminer (...,GewÃ¼rztraminer
91483,91483,US,90,22.0,California,Virginie Boone,@vboone,Houdini 2011 Zinfandel (Chiles Valley),Zinfandel
91484,91484,New Zealand,90,25.0,Hawke's Bay,Joe Czerwinski,@JoeCz,Mills Reef 2011 Elspeth Cabernet Merlot (Hawke...,Cabernet Merlot
91485,91485,New Zealand,90,15.0,Marlborough,Joe Czerwinski,@JoeCz,Ara 2013 Single Estate Pinot Gris (Marlborough),Pinot Gris
91486,91486,New Zealand,90,40.0,Marlborough,Joe Czerwinski,@JoeCz,Dog Point 2012 Chardonnay (Marlborough),Chardonnay
91487,91487,New Zealand,90,19.0,Hawke's Bay,Joe Czerwinski,@JoeCz,Esk Valley 2011 Gimblett Gravels Merlot-Cabern...,Bordeaux-style Red Blend
91488,91488,Spain,90,17.0,Northern Spain,Michael Schachner,@wineschach,ViÃ±edos Real Rubio 2010 Crianza (Rioja),Tempranillo Blend
91489,91489,New Zealand,90,35.0,Hawke's Bay,Joe Czerwinski,@JoeCz,Babich 2010 Irongate Red (Hawke's Bay),Bordeaux-style Red Blend
91490,91490,France,90,57.0,Alsace,Roger Voss,@vossroger,Cave de Turckheim 2010 Brand Grand Cru Pinot G...,Pinot Gris
91491,91491,Portugal,90,48.0,Douro,Roger Voss,@vossroger,Caves Transmontanas 2006 VÃ©rtice Pinot Noir (...,Pinot Noir
91492,91492,Italy,90,30.0,Sicily & Sardinia,Kerin OâKeefe,@kerinokeefe,COS 2013 Frappato (Sicilia),Frappato
91493,91493,Italy,90,40.0,Sicily & Sardinia,Kerin OâKeefe,@kerinokeefe,Cusumano 2012 SÃ gana Tenuta San Giacomo Nero ...,Nero d'Avola
91494,91494,Israel,90,20.0,Galilee,Mike DeSimone,@worldwineguys,Dalton 2012 Oak Aged Cabernet Sauvignon (Galilee),Cabernet Sauvignon
91495,91495,France,90,28.0,Alsace,Roger Voss,@vossroger,Domaine RieflÃ©-Landmann 2013 Seppi Landmann V...,Pinot Gris
91496,91496,US,90,75.0,Oregon,Paul Gregutt,@paulgwineÂ,Citation 2004 Pinot Noir (Oregon),Pinot Noir
91497,91497,France,90,30.0,Alsace,Roger Voss,@vossroger,Domaine Gresser 2013 Kritt Gewurztraminer (Als...,GewÃ¼rztraminer
91498,91498,France,90,32.0,Alsace,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris
91499,91499,France,90,21.0,Alsace,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth CuvÃ©e Ca...,GewÃ¼rztraminer

In [3]:

GroupByDF = WineDF.groupby(['country']) #this only indicates what to group by we have to select after
distinctCountry=GroupByDF.count() # returns the mean of all columns grouped by the column we chose. we have to do this to have a new dataframe to perform calcs
distinctCountry.reset_index(inplace=True)

WineCountryDF=distinctCountry[["country"]]
WineCountryDF.head()

                  country
0               Argentina
1                 Armenia
2               Australia
3                 Austria
4  Bosnia and Herzegovina

In [4]:
# left join
CountryTable = pd.merge(WineCountryDF, WorldGDPRaw, on="country", how="left")
CountryTable.reset_index(inplace=True)
CountryTable["countryId"] = CountryTable["index"]+1
CountryTable.head()

,index,country,countryCode,GDP,POP,countryId
0,0,Argentina,AR,14398.358771,44271041.0,1
1,1,Armenia,AM,3936.798320,2930450.0,2
2,2,Australia,AU,53793.537256,24601860.0,3
3,3,Austria,AT,47380.829637,8797566.0,4
4,4,Bosnia and Herzegovina,BA,5148.208517,3507017.0,5

In [5]:
CountryTable.to_csv("Outputs/CountryTable.csv", index=False)

Insert into My sql database

In [6]:
import pandas as pd
ImportTable = "Outputs/CountryTable.csv"
CountryTable = pd.read_csv(ImportTable, encoding="ISO-8859-1")

CountryToExport=CountryTable[["countryId","country","countryCode","GDP","POP"]]
CountryToExport.head()

   countryId                 country countryCode           GDP         POP
0          1               Argentina          AR  14398.358771  44271041.0
1          2                 Armenia          AM   3936.798320   2930450.0
2          3               Australia          AU  53793.537256  24601860.0
3          4                 Austria          AT  47380.829637   8797566.0
4          5  Bosnia and Herzegovina          BA   5148.208517   3507017.0

In [7]:
from sqlalchemy import create_engine

In [8]:

rds_connection_string = "root:Sanangel1@127.0.0.1/Wine_Ratings"
engine = create_engine(f'mysql+pymysql://{rds_connection_string}')

In [9]:
engine.table_names()

['country', 'state', 'taster', 'wine']

In [10]:
CountryToExport.to_sql(name='country', con=engine, if_exists='append', index=False)

IntegrityError: (pymysql.err.IntegrityError) (1062, "Duplicate entry '1' for key 'PRIMARY'") [SQL: 'INSERT INTO country (`countryId`, country, `countryCode`, `GDP`, `POP`) VALUES (%(countryId)s, %(country)s, %(countryCode)s, %(GDP)s, %(POP)s)'] [parameters: ({'countryId': 1, 'country': 'Argentina', 'countryCode': 'AR', 'GDP': 14398.358770905501, 'POP': 44271041.0}, {'countryId': 2, 'country': 'Armenia', 'countryCode': 'AM', 'GDP': 3936.7983196528703, 'POP': 2930450.0}, {'countryId': 3, 'country': 'Australia', 'countryCode': 'AU', 'GDP': 53793.5372560884, 'POP': 24601860.0}, {'countryId': 4, 'country': 'Austria', 'countryCode': 'AT', 'GDP': 47380.8296365373, 'POP': 8797566.0}, {'countryId': 5, 'country': 'Bosnia and Herzegovina', 'countryCode': 'BA', 'GDP': 5148.208516959389, 'POP': 3507017.0}, {'countryId': 6, 'country': 'Brazil', 'countryCode': 'BR', 'GDP': 9812.27853101845, 'POP': 209288278.0}, {'countryId': 7, 'country': 'Bulgaria', 'countryCode': 'BG', 'GDP': 8228.011569726501, 'POP': 7075947.0}, {'countryId': 8, 'country': 'Canada', 'countryCode': 'CA', 'GDP': 44870.7761570967, 'POP': 36708083.0}  ... displaying 10 of 41 total bound parameter sets ...  {'countryId': 40, 'country': 'Ukraine', 'countryCode': 'UA', 'GDP': 2639.82432586795, 'POP': 44831135.0}, {'countryId': 41, 'country': 'Uruguay', 'countryCode': 'UY', 'GDP': 16245.598367743101, 'POP': 3456750.0})] (Background on this error at: http://sqlalche.me/e/gkpj)

In [11]:
pd.read_sql_query('select * from country', con=engine).head()

   countryId                 country countryCode       GDP         POP
0          1               Argentina          AR  14398.36  44271041.0
1          2                 Armenia          AM   3936.80   2930450.0
2          3               Australia          AU  53793.54  24601860.0
3          4                 Austria          AT  47380.83   8797566.0
4          5  Bosnia and Herzegovina          BA   5148.21   3507017.0