In [2]:
import pandas as pd

In [3]:
wine_data = pd.read_csv('Resources/winedata.csv')
country_gdp = pd.read_csv('Outputs/CountryTable.csv')
state_gdp = pd.read_csv('Resources/GDP_bystate.csv')

In [11]:
state_gdp.head()
state_gdp['state'] = strip_test

state_gdp_f = state_gdp.drop(columns=['state2'])
#state_gdp_fi = state_gdp_f.rename(index=str, columns=[state])
#state_gdp_f['state'] = state_gdp_f['state2']
#state_gdp_f.head()
state_gdp_f.head()

KeyError: "['state2'] not found in axis"

In [5]:
wine_data.head()

,country,points,price,province,taster_name,taster_twitter_handle,title,variety
0,Portugal,87,15.0,Douro,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red
1,US,87,14.0,Oregon,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris
2,US,87,65.0,Oregon,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir
3,Spain,87,15.0,Northern Spain,Michael Schachner,@wineschach,Tandem 2011 Ars In Vitro Tempranillo-Merlot (N...,Tempranillo-Merlot
4,Italy,87,16.0,Sicily & Sardinia,Kerin O’Keefe,@kerinokeefe,Terre di Giurfo 2013 Belsito Frappato (Vittoria),Frappato

In [6]:
# pulling out country and province columns from emily wine_data data frame and renaming columns to match my state_gdp data frame
wd_cp = wine_data[["country","province"]]
wd_cp.columns=["country","state"]

In [7]:
strip_test = state_gdp["state"].str.strip()

strip_test.head()

0    California
1         Texas
2      New York
3       Florida
4      Illinois
Name: state, dtype: object

In [8]:
#This is to drop any NAN from the state_gdp data frame
state_gdp_2 = state_gdp_f.dropna(how='any')
state_gdp_2.head()

NameError: name 'state_gdp_f' is not defined

In [9]:
#The is merging the wine_data dataframe to the state_gdp dataframe and this is joining left on the state column
state_wine2 = pd.merge(wd_cp, state_gdp_2, on = "state", how = "left")

state_wine2.head(10)

NameError: name 'state_gdp_2' is not defined

In [10]:
# This is to drop any NAN values from the new wine_data+state_gdp merged table
state_wine3 = state_wine2.fillna(0)
state_wine3.head()

NameError: name 'state_wine2' is not defined

In [65]:
# this is to merge the prior merged wine_data and state_gdp to the sandras country_gdp dataframe.
state_wine_ctry = pd.merge(state_wine3, country_gdp, on = "country", how = "left")

state_wine_ctry.index.name = 'stateId'
state_wine_ctry.head()

,country,state,GDP_x,countryId_x,index,countryCode,GDP_y,POP,countryId_y
stateId,,,,,,,,,
0,Portugal,Douro,0,0.0,30,PT,21291.431210,10300300.0,31
1,US,Oregon,"238,687",39.0,38,NaN,NaN,NaN,39
2,US,Oregon,"238,687",39.0,38,NaN,NaN,NaN,39
3,Spain,Northern Spain,0,0.0,35,ES,28208.300405,46593171.0,36
4,Italy,Sicily & Sardinia,0,0.0,21,IT,32110.027262,60536709.0,22

In [70]:
state_wine_ctry_f =state_wine_ctry[["country","state","GDP_x","countryId_y"]]
state_wine_ctry_f.head()

          country              state    GDP_x  countryId_y
stateId
0        Portugal              Douro        0           31
1              US             Oregon  238,687           39
2              US             Oregon  238,687           39
3           Spain     Northern Spain        0           36
4           Italy  Sicily & Sardinia        0           22

In [74]:
state_wine_ctry_f.columns = ['country', 'state', 'GDP', 'countryId']
state_wine_ctry_f.head()

          country              state      GDP  countryId
stateId
0        Portugal              Douro        0         31
1              US             Oregon  238,687         39
2              US             Oregon  238,687         39
3           Spain     Northern Spain        0         36
4           Italy  Sicily & Sardinia        0         22

In [1]:
state_wine_ctry_f.drop_duplicates('state', inplace= True)

NameError: name 'state_wine_ctry_f' is not defined

In [ ]:
state_wine_ctry_f.to_csv("Outputs/state_wine_ctry_f.csv", index=True)