In [25]:
import pandas as pd
from sqlalchemy import create_engine

In [26]:
final = pd.read_csv('Outputs/state_wine_ctry_f.csv')

In [27]:
final.drop_duplicates('state', inplace= True)
final.head()

   stateId   country              state      GDP  countryId
0        0  Portugal              Douro        0         31
1        1        US             Oregon  238,687         39
3        3     Spain     Northern Spain        0         36
4        4     Italy  Sicily & Sardinia        0         22
5        5    France             Alsace        0         15

In [28]:
final.set_index(['stateId'], inplace =True)
final.head()

          country              state      GDP  countryId
stateId
0        Portugal              Douro        0         31
1              US             Oregon  238,687         39
3           Spain     Northern Spain        0         36
4           Italy  Sicily & Sardinia        0         22
5          France             Alsace        0         15

In [31]:
rds_connection_string = "root:Pruney@123@127.0.0.1/Wine_Ratings"
engine = create_engine(f'mysql+pymysql://{rds_connection_string}')

ModuleNotFoundError: No module named 'pymysql'

In [10]:
#final.to_csv("Outputs/final.csv", index=True)