In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [26]:
RawData = pd.read_csv('../Outputs/state_wine_ctry_f.csv', encoding = 'utf-8')

In [32]:
RawData.drop_duplicates('state', inplace= True)
State=RawData[["stateId","state", "GDP","countryId"]]

In [33]:
State.set_index(['stateId'], inplace =True)
State.head()
State.to_csv("../Outputs/state.csv", index=True)

In [34]:
rds_connection_string = "root:Sanangel1@127.0.0.1/Wine_Ratings"
engine = create_engine(f'mysql+pymysql://{rds_connection_string}')

# engine = create_engine(f'mysql+pymysql://{rds_connection_string}?charset=utf8mb4')

In [35]:
engine.table_names()

['country', 'state', 'taster', 'wine']

In [39]:
State.to_sql(name = 'state', con=engine, if_exists= 'append', index = False)

In [41]:
StateToCSV=pd.read_sql_query('select * from state', con=engine)

In [42]:
StateToCSV.to_csv("../Outputs/state.csv", index=True)

In [43]:
StateToCSV.head()

   stateId              state      GDP  countryId
0        1              Douro        0         31
1        2             Oregon  238,687         39
2        3     Northern Spain        0         36
3        4  Sicily & Sardinia        0         22
4        5             Alsace        0         15