In [1]:
import pandas as pd


ImportTable1 = "Outputs/wine_join_state.csv"
wine_join_state = pd.read_csv(ImportTable1, encoding="UTF-8")

ImportTable = "Outputs/state_wine_ctry_f.csv"
state = pd.read_csv(ImportTable, encoding="UTF-8")

In [2]:
#wine_join_state.head()
wine_join_state = wine_join_state.rename( columns={"province": "state"})
#state = state.set_index(inplace=True)
state.drop_duplicates("state", inplace=True)
state.head()

   stateId   country              state      GDP  countryId
0        0  Portugal              Douro        0         31
1        1        US             Oregon  238,687         39
3        3     Spain     Northern Spain        0         36
4        4     Italy  Sicily & Sardinia        0         22
5        5    France             Alsace        0         15

In [3]:
WineTable = pd.merge(wine_join_state, state, on="state", how ="left")
#CountryTable.reset_index(inplace=True)
#CountryTable["countryId"] = CountryTable["index"]+1
#CountryTable.head()
WineTable.head()

,variety,title,tasterID,state,points,price,country_x,stateId,country_y,GDP,countryId
0,Portuguese Red,Quinta dos Avidagos 2011 Avidagos Red (Douro),13,Douro,87,15.0,Portugal,0,Portugal,0,31
1,Gew端rztraminer,Trimbach 2012 Gewurztraminer (Alsace),13,Alsace,87,24.0,France,5,France,0,15
2,Pinot Gris,Jean-Baptiste Adam 2012 Les Natures Pinot Gris...,13,Alsace,87,27.0,France,5,France,0,15
3,Gew端rztraminer,Leon Beyer 2012 Gewurztraminer (Alsace),13,Alsace,87,30.0,France,5,France,0,15
4,Gamay,Henry Fessy 2012 Nouveau (Beaujolais),13,Beaujolais,86,9.0,France,26,France,0,15

In [4]:
WineTable.reset_index(inplace=True)
WineTable["wineId"] = WineTable["index"]+1

In [17]:
WineTabletoSQL=WineTable[["wineId","title","variety","points","price","tasterID" ]]
WineTabletoSQL = WineTabletoSQL.rename( columns={"tasterID": "testerId"})
WineTabletoSQL=WineTabletoSQL

In [18]:
from sqlalchemy import create_engine

In [19]:

rds_connection_string = "root:Sanangel1@127.0.0.1/Wine_Ratings"
engine = create_engine(f'mysql+pymysql://{rds_connection_string}')

In [20]:
engine.table_names()

['country', 'state', 'taster', 'wine']

In [21]:
WineTabletoSQL.to_sql(name='wine', con=engine, if_exists='append', index=False)

In [22]:
pd.read_sql_query('select * from wine', con=engine).head()

,wineId,title,variety,points,price,countryId,testerId
0,1,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,87,15.0,None,13
1,2,Trimbach 2012 Gewurztraminer (Alsace),Gew端rztraminer,87,24.0,None,13
2,3,Jean-Baptiste Adam 2012 Les Natures Pinot Gris...,Pinot Gris,87,27.0,None,13
3,4,Leon Beyer 2012 Gewurztraminer (Alsace),Gew端rztraminer,87,30.0,None,13
4,5,Henry Fessy 2012 Nouveau (Beaujolais),Gamay,86,9.0,None,13