In [1]:

# Dependencies
import requests
import json
import os
import pandas as pd
import numpy as np
from pprint import pprint

In [6]:
#Getting country codes
countrycodes_file = "Resources/CountryCodesLookup.csv"
countrycodes = pd.read_csv(countrycodes_file, encoding="ISO-8859-1")
countrycodes = countrycodes.rename(columns={'COUNTRY':'country'})
countrycodes = countrycodes.rename(columns={'A2 (ISO)':'countryCode'})
countrycodes["GDP"]=''
countrycodes["POP"]=''
#NewColumn
worldGDP=countrycodes[['country','countryCode','GDP']].copy()
worldGDP.head()

          country countryCode GDP
0     Afghanistan          AF
1         Albania          AL
2         Algeria          DZ
3  American Samoa          AS
4         Andorra          AD

In [7]:
import requests
import json

Base_Url="http://api.worldbank.org/v2/country/"
Country = ""

for index, row in worldGDP.iterrows():
    try:
        Country = str.lower(row['countryCode'])

        GDP_url = Base_Url + Country + '/indicator/NY.GDP.PCAP.CD?date=2017&format=json'
        POP_url= Base_Url + Country + '/indicator/SP.POP.TOTL?date=2017&format=json'




        #full syntax
        GDP_response = requests.get(GDP_url)
        GDP_response_json = GDP_response.json()
        POP_response = requests.get(POP_url)
        POP_response_json = POP_response.json()
#         print(Country)
#         print (GDP)
#         print(POP)
#         print(index)

        GDP= GDP_response_json[1][0]['value']
        worldGDP.loc[index,"GDP"]=GDP
        
        
        POP= POP_response_json[1][0]['value']
        worldGDP.loc[index,"POP"]=POP
        
    except: 

        print("Missing field/result... skipping.")

Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.

In [9]:
worldGDP. head()

          country countryCode      GDP         POP
0     Afghanistan          AF  550.068  35530081.0
1         Albania          AL  4537.58   2873457.0
2         Algeria          DZ  4055.25  41318142.0
3  American Samoa          AS  11394.5     55641.0
4         Andorra          AD  39146.5     76965.0

In [10]:
worldGDP.to_csv("Outputs/WorldGDP.csv", index=False)