In [1]:
import pandas as pd
from sqlalchemy import create_engine
taster_data = "tasterdata.csv"
#4. Connect to the database where you will insert data
#tip: the dataframe and the table needs to have the exact same structure, column names and column order

In [2]:
taster_data_df = pd.read_csv(taster_data)
taster_data_df

    index        taster_name taster_twitter_handle  tasterID
0       0   Anne Krebiehl MW           @AnneInVino         1
1       1  Christina Pickard       @winewchristina         2
2       2        Fiona Adams              @bkfiona         3
3       3       Jeff Jenssen        @worldwineguys         4
4       4         Jim Gordon      @gordone_cellars         5
5       5     Joe Czerwinski                @JoeCz         6
6       6      Kerin O’Keefe          @kerinokeefe         7
7       7      Lauren Buzzeo             @laurbuzz         8
8       8      Matt Kettmann         @mattkettmann         9
9       9  Michael Schachner           @wineschach        10
10     10      Mike DeSimone        @worldwineguys        11
11     11       Paul Gregutt           @paulgwine         12
12     12         Roger Voss            @vossroger        13
13     13   Sean P. Sullivan         @wawinereport        14
14     14    Susan Kostrzewa         @suskostrzewa        15
15     15     Virginie Boone               @vboone        16

In [3]:
taster_df = taster_data_df[["tasterID", "taster_name", "taster_twitter_handle"]]
index = "tasterID"
taster_df.set_index(['tasterID'], inplace = True)
taster_df

                taster_name taster_twitter_handle
tasterID
1          Anne Krebiehl MW           @AnneInVino
2         Christina Pickard       @winewchristina
3               Fiona Adams              @bkfiona
4              Jeff Jenssen        @worldwineguys
5                Jim Gordon      @gordone_cellars
6            Joe Czerwinski                @JoeCz
7             Kerin O’Keefe          @kerinokeefe
8             Lauren Buzzeo             @laurbuzz
9             Matt Kettmann         @mattkettmann
10        Michael Schachner           @wineschach
11            Mike DeSimone        @worldwineguys
12             Paul Gregutt           @paulgwine
13               Roger Voss            @vossroger
14         Sean P. Sullivan         @wawinereport
15          Susan Kostrzewa         @suskostrzewa
16           Virginie Boone               @vboone

In [5]:
# the syntax is the following: 
# rds_connection_string = "root:[RootPassword]@127.0.0.1/[DatabaseName]" 
rds_connection_string = "root:Sanangel1@127.0.0.1/Wine_Ratings"
engine = create_engine(f'mysql+pymysql://{rds_connection_string}')

In [6]:
#query the table names
engine.table_names()

['country', 'state', 'taster', 'wine']

In [7]:
taster_df.head()

                taster_name taster_twitter_handle
tasterID
1          Anne Krebiehl MW           @AnneInVino
2         Christina Pickard       @winewchristina
3               Fiona Adams              @bkfiona
4              Jeff Jenssen        @worldwineguys
5                Jim Gordon      @gordone_cellars

In [8]:
#5. Export
taster_df.to_sql(name='taster', con=engine, if_exists='append', index=False)